@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/smw-text-nc');

*{
  margin:0px;
  padding:0px;
  font-family: "Poppins", sans-serif;
  text-align:center;
  height:100%;
  color: #f7f7f7;
    
}
header{
    
  display:flex;
  height:60px;
  width:100%;
  margin-top: 10px;
  text-align: center;
  justify-content: space-between;
  }

h1{
  margin:0px;
    
  font-family: 'SMW Text NC', sans-serif;
  font-family: 'SMW Text 2 NC', sans-serif;
  text-align: center;
  color: #F0F0F0;
  font-size: 30px;
    
}

h2{
  font-style: italic;
  margin-top:10px;
  padding-left:10px;
}
h3{
  
  font-size:30px;
  height:auto;
  margin-bottom:15px;
  padding-top:10px;
}
h4 {
  margin-top:25%;
  background-color: #2d8914;
  padding:15px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  height:auto;
  text-align: center;
}
h5{
  
  font-size:30px;
  height:auto;
  margin-bottom:15px;
  padding:5% 8%;
}
p{
  height:auto;
  text-align:left;
  text-justify: auto;
}

.info{
  margin-top: 15%;
  display:table-cell;
  vertical-align:center;
  text-align:left;
  width:50%;
  font-size: 25px;
  height:auto;

}
.logo{
  display:flex;
  padding-right:5px;
  font-size: 20px;
  text-align: center;
    font-weight: bold;
  color: white;
  height:auto;
    
    
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height:100%;
  width:100%;
}


section{
    
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
    
    
}
  /*this modifys the main logo section 1 */
.main-logo{
    
  position:absolute;
  max-width:60%;
  max-height: 60%;
  bottom:30%

} 
.nav-bar ul{
  list-style: none;
  display: flex;
  
  height:auto;
}
.nav-bar ul li a{
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  display:block;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  margin:0 5px;
}
.nav-bar ul li a:hover{
  background-color: #6c6c6c;
  color: #a8a8a8;
}
  .banner {
    margin-top: 0px;
    
    padding-top: 15px;
    padding-bottom:15px;
    justify-content: center;
    background-color: #44157D;
    color: #F0F0F0;
    width: 40%;
    height: 40px;
    bottom: 25%;
    
    position: absolute;
    border-radius: 15px;
    
}
.typewriter h1 {
  padding-bottom:5px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #2d8914; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto ; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 6s steps(45, end),
      blink-caret .75s step-end infinite;
      animation-fill-mode: forwards 75%;

    animation-iteration-count: infinite;  
    
    
  }


  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
  } 
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2d8914 }
  }
  .one{
   display:flex;
   position:relative;
    background-image: url(we-bots-lab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:10%;
    padding-right:10%;
    
  }


.two{
    display: flex;
    position: relative;
    background-color:#1F1F1F;
    justify-content:left;
    padding-left:10%;
    padding-right:10%;
    background: 
      linear-gradient(to right, 
      #1F1F1F 0%,
      #1F1F1F 10%,
      #44157D 10%, 
      #44157D 30%,
      #1F1F1F 30%, 
      #1F1F1F 100%)
   
  }


.slides{
  max-height:70%;
  max-width:60%;
  overflow:hidden;
  position:relative;
  margin: 10% 5%;
  padding-left:35%;

}
.slide{
  position:absolute;
  opacity:0 ;
  height:100%;
  width:100%;
  inset:0;
  animation: slide-show 12s infinite;
}
.slide-2 {

  animation-delay:4s;
}
.slide-3{
  
  animation-delay:8s;
}

.slide img{
  width:100%;
  height:100%;
  
  object-fit:cover;
  object-position: center;
}

@keyframes slide-show{
  0%{
    opacity:0;

  }
  10%{
    opacity:1;
  }
  20%,
  30%{
    opacity:1;
    scale:1.03;
  }
  50%{
    opacity:0;
  }
}
  
  .three{
    background-color:#6c6c6c;
    justify-content:center;
    display:block;
    padding-left:10%;
    padding-right:10%;
    position: relative;
    
  }
  section .cards{
    display:flex;
    text-align: justify;
    font-size: 25px;
    height:60%;
    
  }
  section .cards .text-card {
    background-color:#2d8914 ;
    margin:25px;
    padding:10px;
    border-radius:25px;
  }
 
  @media (max-width: 900px){

    section .cards{
      flex-direction: column;
    }
  }
  






  .four{
    background-color: #6c6c6c;
    justify-content:left;
    padding-left:10%;
    padding-right:10%;
    
  }
  /*Section 5 css code for sponsors
  .five{
    background-color: #5a3554;
    
  }*/
  .six{
    background-color: #1F1F1F;
    justify-content:left;
    padding-left:10%;
    padding-right:10%;
    background: 
      linear-gradient(to right, 
      #1F1F1F 0%,
      #1F1F1F 70%,
      #44157D 70%, 
      #44157D 90%,
      #1F1F1F 90%, 
      #1F1F1F 100%)
   
  }
  .contact-info{
    background-color: #6c6c6c;
    height:30%;
    margin: 20% 10% 5% 1%;
    width:50%;
    padding:2%;
    border-radius:15px;
    display:flex;
    justify-content: center;
  }
  .contact-us{
    height:auto;
    margin-top: 22%;
    display:table-cell;
  width:30%;
  font-size: 25px;
  height:auto;
  }
  #robot{
    width:30%;
    height:20%;
    margin-top:2%;
    place-items: center;
  }
  
  .button{
    display: inline-block;
    width:25%;
    height:48%;
    place-items: center;
    justify-content: center;
    padding:2%;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    background-color: white;
    border-radius: 50px;
  }
 .contact-info .button:hover{
  width: 50%;
  transition: 0.7s;
 }
  